
    <button class ='showCategoryDetail'>Toggle</button>
    <h2 class='foodCategoryHeader'>{{this}}</h2>


  <ul class='itemList'></ul>



{{!--
  <li class = "item">
  <h3>{{item}}</h3>
  <p>{{description}}</p>
  <button name="button" class="order">${{price}}</button>
  <li> --}}

{{!--
<div class="main-menu-categories-type">
  <i class="fa fa-chevron-down main-menu-categories-type-expand"></i><i class="fa fa-chevron-up main-menu-categories-type-expand"></i>
  <h3 class="main-menu-categories-type-text">{{this}}</h3>
</div>
<ul class="main-menu-categories-items"></ul> --}}

{{!-- <li class="main-menu-categories-items-item">
  <button class="item-price">${{price}}</button>
  <h4>{{name}}</h4>
  <p>{{description}}</p>
</li> --}}
